<nav class="navbar navbar-w3r navbar-fixed-top" role="navigation">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav nav-links">
            <li><a href="/admin">Verify Members</a></li>
            <li><a href="/admin/revoke">Revoke Verification</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
<<<<<<< HEAD
    </nav>
=======
    </nav>

>>>>>>> master
