<nav class="navbar navbar-w3r navbar-fixed-top" role="navigation">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav nav-links">
            <li><a href="/admin" class="admin-link">Verify Members</a></li>
            <li><a href="/admin/revoke" class="admin-link">Revoke Verification</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
    </nav>

