<div class='artist_info'>
  <% if user.city.length > 0 %>
    <h2 class="hometown">Hometown</h2>
    <p class="more-info-section"><%= user.city %>, <%= user.state %></p>
  <% end %>
  <% if user.story.length > 0 %>
    <h3>Background Story</h3>
    <p class="more-info-section"><%= user.story %></p>
  <% end %>
</div>
