<%= render partial: 'users/profile_header' %>

<div class="profile-tabs">
  <div class="container">
    <span class="tab"> <%= link_to "Videos", show_user_posts_path , remote: true, id: "show-posts" %> </span>
    <span class="tab tab-last"> <%= link_to "About #{@user.stage_name}", show_user_info_path(:user => @user), remote:true, id: "more-info"%> </span>

  </div>
</div>

<div class="profile-content">
    <div class="container display-profile-tab">
      <%= render partial: 'users/show_posts' %>


    </div>
</div>



