<%= image_tag "guitar.png", class: "main-image" %>
<div class="card-container">
  <div id="card-wrapper">
    <%= render 'shared/post_cards', posts: @posts %>
  </div>
  <%= render 'shared/post_card_modal' %>
</div>

<%#= will_paginate @posts %>


