<div class="artist-card" data-id="<%= artist.id %>">
  <img src="<%= artist.highlight_thumbnail_url %>">
  <div class="artist-name"><%= artist.stage_name %></div>
  <div clas="artist-tagline"><%= artist.tagline %></div>
</div>