<div class="post-card" data-id="<%= post.id %>">
  <img src="<%= post.youtube_thumbnail_url %>">
  <div class="artist-name"><%= post.user.stage_name %></div>
  <div clas="post-title"><%= post.title %></div>
</div>