<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title" id="cardModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <iframe class="modal-video" id="cardVideo" width="480" height="360" src="#" frameborder="0" scrolling="no"> </iframe>
        <div class="modal-description">
          <a id="cardModalArtistName" href=""></a>
          <p class="video-description"></p>
          <div class="tip-button">
            <a class="coinbase-button" data-code="08cb018f6cfb861fcff646ca4ed5b06d" data-button-style="custom_small" data-custom="#" href="https://coinbase.com/checkouts/08cb018f6cfb861fcff646ca4ed5b06d">Tip!</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>