<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title" id="cardModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <iframe class="modal-video" id="cardVideo" width="480" height="360" src="#" frameborder="0" scrolling="no"> </iframe>
        <div class="modal-description">
          <a id="cardModalArtistName" href=""></a>
          <p class="video-description"></p>
          <div class="tip-button">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>