<div class="modal-body card-modal-body">
  <iframe class="modal-video" id="cardVideo" width="600" height="400" src="" frameborder="0" scrolling="no"> </iframe>
  <div class="modal-description card-modal-description">

    <iframe src="" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true" class="fb-like-button"></iframe>
    <h2 class="modal-title card-modal-title" id="cardModalLabel">Modal title</h2>

      <h3><a id="cardModalArtistName" href=""></a></h3>

    <p class="video-description"></p>

    <div class="tip-button">
    </div>
    <%= render "stripe_form" %>
  </div>
</div>