<div class="container">

  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <div class="card-container">

  <h1 >HaTip</h1>
  <div id="card-wrapper">

    <%= render partial: 'artist_cards', locals: { artists: @artists } %>
  </div>
</div>

<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<%= render partial: 'artist_card_modal' %>
