<div class="container">
  <h1 >HaTip</h1>
  <div id="card-wrapper">
    <%= render partial: 'artist_cards', locals: { artists: @artists } %>
  </div>
</div>

<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<%= render partial: 'artist_card_modal' %>