<div class="posts-container">
  <% @user.posts.each do |post| %>
    <div class="post">
      <p><%= post.title %></p>
        <%= raw(post.post_embed) %>
      <p><%= post.description %></p>
    </div>
  <% end %>
</div>



