  <div class="posts-container">
    <% @user.posts.each do |post| %>
      <div class="post">
        <p><%= post.title %></p>
        <iframe width="560" height="315" src="//<%= post.youtube_url %>" frameborder="0" allowfullscreen>tes</iframe>
        <p><%= post.description %></p>
      </div>
    <% end %>
  </div>