
<div class="professional-text">
  <div class="readability div">
    <h1>About HatTip</h1>
      <p>HatTip is an organization that was founded to support amateur and professional
        artists and performers, broadening their audience to a global level and making their
        work more accesible to fans of art and artistry everywhere.
      </p>
      <p>We believe that these amazing performers should keep getting tips! Thus, we have set up the tipping functionality you see when you view any artist's video, and you may choose to tip with Bitcoin, or with dollars via Stripe. Your payments are 100% secure and will go directly to the account of the artist you've tipped- just as if you had put a tip in their hat in person!
      </p>
      <p>We hope you enjoy discovering new material, and if you are an artist who'd like to
        join, set up a profile, and receive tips yourself, we can't wait to have you!
      </p>
    </div>
  <div class="about-tagline">
    <h2>Love the Show?</h2>
    <h2>Show the Love!</h2>
  </div>
</div>
