html body {
  margin-top: 60px;
  background: #e4e4e4;
  background-attachment: fixed;
}

.main-image{
  width: 100%;
  margin-bottom: -40px;
  z-index: -1;
}
.main-image img {
  height: 100%;
}

#card-wrapper {
  max-width: 1100px;
  min-width: 800px;
  margin: 50px auto;
  margin-top: 70px;
}


 .columns {
  -webkit-column-count: 4;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 4;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 4;
  column-gap: 15px;
  column-fill: auto;
  margin-top: 20px;
}

.post-card {
  display: inline-block;
  width: 250px;
  height: 300px;
  background: #FEFEFE;
  border: 2px solid #B3B5B5;
  margin: 0 2px 15px;
  border-radius: 2px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 3px;
  background: -webkit-linear-gradient(45deg, #FFF, #FFFFFF);
  opacity: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.post-card:hover {
  cursor: pointer;
}

.post-card .post-thumbnail {
  width: 100%;
  height: 180px;
  padding-bottom: 15px;
  margin-bottom: 5px;
  margin-top: 0;
}

.post-card .post-thumbnail:hover {
  opacity: 0.7;
}

.thumbnail-holder {
  height: 180px;
  width: 100%;
}

.thumbnail-holder span
{
  display: none;
  background: url('/assets/play-arrow.svg') center center no-repeat;
  margin: -150px 10px 0 0;
  height: 80px;
  position: relative;
  z-index: -.5;
}

.thumbnail-holder:hover span {
  display: block;
}

.post-card .post-user-pic {
  height: 20px;
  width: 25px;
  margin-left: 5px;
  margin-right: 10px;
}

.post-card p {
  font: 12px Arial, sans-serif;
  color: #333;
  margin: 0;
}

.post-card hr{
  margin-bottom: 12px;
  color: lightgray;
}

.post-card-user {
  margin-top: 10px;
}


.post-title{
  font-size: 14px;
  margin: 0px;
  height: 30px;
}

.artist-name{
  margin: 0 15px 0 0px;
  font-weight: bold;

}

.post-card-user-location {
  font-size: 12px;
  color: darkgrey;
  padding-top: 10px;
  padding-left: 5px;
  }

.hype-score-card{
  color: white;
  background-color: #0A8FD5;
  padding: 5px;
  border-radius: 5px;
  margin-left: 80px;
}

.card-modal-body {
  height: 400px;
  padding: 0;
}

.card-modal-dialog {
  width: 80%;
  min-width: 800px;
  max-width: 880px;
}

.card-modal-description {
  padding-top: 20px;
  width: 278px;
  height: 400px;
  display: inline-block;
  float: left;
}

.card-modal-description p {
  height: 60px;
}

.modal-video {
  display: inline-block;
  float: left;
}

.card-modal-title {
  width: 100%;
}

.love-message {
  font-weight: bold;
  text-align: center;
}

.tip-button {
  display: none;
}

.blue-tip-button {
  position: relative;
  display:inline;
  height:40px;
  width:81px;
  border-radius: 4px;
  background-color: #4D6BC4;
  color: white;
  border: none;
}

#stripeButton:hover {
  background-color: #2a6496;
}

.fb-like-button {
  width: 100%;
    margin-top: 15px;
}

#coinbaseButton a {
  text-decoration: none;
  color: white;
}


#coinbaseButton:hover {
  background-color: #2a6496;
}

.tip-button-holder {
  width: 170px;
  margin: 0 auto;
  margin-top: 15px;
}

.tip-border {
  position: absolute;
  bottom: 0px;
  border-bottom: 1px solid #B3B5B5;
  border-bottom-right-radius: 5px;
  width: 278px;
  background-color: #E8EBED;
  padding-left: 6px;

}

.modal-text-holder {
    padding-left: 10px;
}

@media only screen and (max-width: 1030px) {
    .card-modal-description {
        display:none;
    }

    .card-modal-body {
        width: 600px;
    }

    .modal-content {
        width: 580px;
    }
}
