#card-wrapper {
  max-width: 1100px;
  min-width: 800px;
  margin: 50px auto;
  margin-top: 70px;
}


.columns {
  -webkit-column-count: 4;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 4;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 4;
  column-gap: 15px;
  column-fill: auto;
}

.post-card {
  display: inline-block;
  width: 250px;
  background: #FEFEFE;
  border: 1px solid #DBDBDB;
  /*box-shadow: 0 1px 3px rgba(7, 6, 6, 0.5);*/
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #FFFFFF);
  opacity: 1;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.post-card:hover {
  cursor: pointer;
}

.post-card img {
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.post-card p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
}

.modal-body {
  height: 500px;
}

.modal-dialog {
  width: 80%;
  min-width: 800px;
  max-width: 1000px;
}

.modal-description {
  margin-left: 10px;
  width: 250px;
  display: inline-block;
  float: left;
}

.modal-description p {
  height: 60px;
}

.modal-video {
  display: inline-block;
  float: left;
  padding-right: 10px;
  border-right: 1px solid black;
}
