/*DEVISE*/

.devise-form{
  margin-left: 150px;
  padding-top: 20px;
}

.devise-title{
  color:  #696969;
}

.form-container{
  background-color: white;
  width: 40%;
  border-radius: 10px;
  padding: 8px 70px 20px 40px;
}

/*USER FORMS*/

.remember-me{
  padding-bottom: 10px;
}

.signin-button{
  margin-bottom: 10px;
}

.sign-up-form {
  display: inline-block;
}


/*FACEBOOK SIGN IN*/


.line-holder{
  padding: 10px 0px 10px 0px;
  width: 270px;
}

.line-center{
    margin:0;
    padding:0 0px;
    background:#fff;
    display:inline-block;
    width: 50px;
}

.or-fb{
    text-align:center;
    position:relative;
    z-index:2;
    color: gray;

}
p.or-fb:after{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    border-top:solid 1px lightgray;
    z-index:-1;
}

.fbbutton{
  padding-left: 0px;
}
