/*    * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } */

    nav {
      background-color: white;
      width:100%;
      border-bottom: 1px solid lightgray;
      position: fixed;
      top: 0;
    }

    .search-form {
      margin-left: 30px;
      left: 200px;
      padding-top: 18px;
      display: inline-block;
    }

    .logo {
      margin-left: 20px;
      border: 0;
      height: 60px;
      padding-bottom: 5px;
      padding-top: 5px;
      position: relative;
    }

    #logo-link {
      height: 0;
      padding: 0;
      display: inline-block;
    }

    .pull-right {
      float: right !important;
    }

    .nav-first {
      margin-left: 50px;
      display: inline-block;
    }

    .menu-link {
      display: none;
      float: right;
      text-decoration: none;
      padding: 19px 10px;
      margin-bottom: 0;
    }
    .menu {
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    .menu ul {
      padding: 0px;
      margin: 0px;
      list-style: none;
      position: relative;
      display: inline-block;
      width: 100%;
    }
    .menu > li > ul.sub-menu {
      min-width: 10em;
      padding: 4px 0;
      background-color: #f4f4f4;
      border: 1px solid #CCC;
      border: 1px solid rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
    }
    .menu ul:after {
      content: ""; clear: both; display: block;
    }
    .menu ul li {
      padding: 0px;
    }
    .menu > ul > li {
      display: inline-block;
      float: left;
    }
    .menu ul li a {
      display: block;
      text-decoration: none;
      color: #ae5c10;
      font-size: .9em;
    }
    .menu ul li > a {
      height: 58px;
      padding: 19px 12px;
    }
    .menu ul ul {
      display: inline-block;
      position: absolute;
      top:100%;
      min-width: 160px;
      background-color: #f4f4f4;
      border: 1px solid #CCC;
      border: 1px solid rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    .menu ul li:hover > ul {
      display: block;
    }
    .menu ul ul > li {
      position: relative;
    }
    .menu ul ul > li a {
      padding: 5px 15px 5px 10px;
      height: auto;
      background-color: #f4f4f4;
      -webkit-transition: background-color 0.2s ease-out;
      -moz-transition: background-color 0.2s ease-out;
      -ms-transition: background-color 0.2s ease-out;
      -o-transition: background-color 0.2s ease-out;
      transition: background-color 0.2s ease-out;
    }
    .menu ul ul > li a:hover {
      background-color: #AE5C10;
      background-color: rgba(174, 92,16, 0.9);
      color: #fff;
    }
    .menu ul ul ul {
      position: absolute;
      left: 100%;
      top:0;
    }

    @media screen and (max-width: 768px) {

      .nav-first {
        margin: 0 auto;
      }

      form {
        position: relative;
        left: 200px;
        padding-top: 1.125em;
      }

      .logo {
        margin-left: 1.250em;
        border: 0;
        height: 3.750em;
        padding-bottom: 0.313em;
        padding-top: 0.313em;
        position: relative;
        left: -87.500em;
      }

      #logo-link {
        height: 0;
        padding: 0;
      }

        a.menu-link {
        display: block;
        color: #fff;
        background-color: #AE5C10;
        background-color: rgba(174, 92,16, 0.9);
      }
      .menu {
        clear: both;
        min-width: inherit;
        float: none;
      }
      .menu, .menu > ul ul {
        overflow: hidden;
        max-height: 0;
        background-color: #f4f4f4;
      }
      .menu > li > ul.sub-menu {
      padding: 0px;
      border: none;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      }
      .menu.active, .menu > ul ul.active {
        max-height: 55em;
      }
      .menu ul {
        display: inline;
      }
      .menu > ul {
        border-top: 1px solid #808080;
      }
      .menu li, .menu > ul > li {
        display: block;
      }
      .menu li a {
        color: #000;
        display: block;
        padding: 0.8em;
        border-bottom: 1px solid #808080;
        position: relative;
      }
      .menu li.has-submenu > a:after {
        content: '+';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        font-size: 1.5em;
        padding: 0.55em 0.5em;
      }
      .menu li.has-submenu > a.active:after {
        content: "-";
      }
      .menu ul ul > li a {
        background-color: #e4e4e4;
        height:58px;
        padding: 19px 18px 19px 30px;
      }
      .menu ul ul, .menu ul ul ul {
        display: inherit;
        position: relative;
        left: auto; top:auto;
        box-shadow: none;
        border:none;
      }
    }

