
.profile-columns {
  -webkit-column-count: 4;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 4;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 4;
  column-gap: 15px;
  column-fill: auto;
}

.profile-post-card {
  display: inline-block;
  width: 250px;
  height: 300px;
  background: #FEFEFE;
  border: 1px solid #DBDBDB;
  /*box-shadow: 0 1px 3px rgba(7, 6, 6, 0.5);*/
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #FFFFFF);
  opacity: 1;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.profile-post-card:hover {
  cursor: pointer;
}

.profile-post-card img {
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.profile-post-card p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
}

#postModal {
  margin-top: 150px;
}

#postModal > div {
  -webkit-transform: translate(0, 0);
}

.filter{
  color: #0A8FD5;
  font-weight: bold;
  padding-left: 10px;
}

