/* CONTAINER */
.container{
  margin:0 auto;
  width: 1000px;
  padding-left: 50px;
  padding-right: 50px;
}



/*BUTTONS*/

.success-button{
  color: white;
  border-radius: 3px;
  background-color: #26A65B;
  padding: 8px 20px 8px 20px;
  border: 0
}


.danger-button{
  color: white;
  border-radius: 3px;
  background-color: #D91E18;
  padding: 8px 20px 8px 20px;
  border: 0;
  padding-top: 200px;
}

.main_image_button{
  position: absolute;
  color: white;
  border-radius: 3px;
  background-color: transparent;
  padding: 8px 20px 8px 20px;
  border: 2px #0A8FD5 solid;
}

.sign_up_button{

}

#my_image { position: relative; }
#button_id { position: absolute; right: 50%; top: 50%; }

/*FORMS*/

.field-holder{
  padding-left: 30px;
}

.form-field{
  padding-bottom: 20px;
}
.form-label{
  margin-bottom: 20px
}

