/* CONTAINER */
.container{
  margin:0 auto;
  width: 1000px;
  padding-left: 50px;
  padding-right: 50px;
}



/*BUTTONS*/

.success-button{
  color: white;
  border-radius: 3px;
  background-color: #26A65B;
  padding: 8px 20px 8px 20px;
  border: 0
}


.danger-button{
  color: white;
  border-radius: 3px;
  background-color: #D91E18;
  padding: 8px 20px 8px 20px;
  border: 0;
  padding-top: 200px;
}




.sign_up_button{
  position: absolute;
  color: white;
  border-radius: 3px;
  background-color: transparent;
  padding: 9px 21px 9px 21px;
  position: absolute; right: 46%; top: 60%;
  border: 2px solid white;
  display:inline-block;
  font-size: 17px;

}

#my_image { position: relative; }

/*FORMS*/

.field-holder{
  padding-left: 30px;
}

.form-field{
  padding-bottom: 20px;
}
.form-label{
  margin-bottom: 20px
}

