/*PROFILE HEADER*/

.profile-header {
  padding-top: 10px;
  background-color: white;
  height: 200px;
}


.profile-table {
  width: 100%;
  border: none;

}

.profile-table  .image {
  width: 15%;
}

.profile-table  .user-info{
  width: 70%;
}

.profile-table  .user-score{
  width: 15%;
}

.user-name{
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}

.twitter{
  font-size: 15px;
}

.user-city{
  color: lightgray;
  font-size: 11px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.user-story {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  color: gray;
  font-size: 12px;
}

.tip-hat{
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}


.hype-score{
  background-color: #0A8FD5;
  width: 75%;
  padding: 6px 3px;
  border-radius: 10%;
  text-align: center;
  margin-left: 15px;
}
.score-number{
  color: white;
  font-size: 45px;
  margin: 0
}

.score-text{
  color: white;
  margin-top: 0
}

.profile-header img{
  border-radius: 50%
}

/*PROFILE TABS*/

.profile-tabs {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 20px 0;
  background-color: #fafafa;
  color: #0A8FD5;
}

.tab{
  border-left: 1px solid lightgray;
/*  border-right: 1px solid lightgray;
*/  padding: 22px 16px;
}

.tab-last{
  border-right: 1px solid lightgray;

}


/*PROFILE SECTIONS*/


.edit-profile-form input {
  margin-left: 10px;
  width: 75%;
}

.tv{
  padding-top: 40px;
}

.info{
  background-color: white;
  border-radius: 20px;
  width: 300px;
}

